body {
    font-family: sans-serif;
    background-color: rgb(53, 52, 52);
    /* align-content: center; */
    margin: 0px;
    justify-content: space-evenly;
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
}

.todo-container {
    text-align: center;
    background-color: rgba(255, 145, 0, 0.644);
    padding: 20px;
    border-radius: 8px;
    box-shadow: black;

}

input[type="text"] {
 padding: 8px;
 width: 60%;
margin-right: 5px;
}

button{
    padding: 7px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

li{
    margin: 10px 0;
}